body {
	margin:0;
	padding:0;
	background-color: white;
	font-family: Verdana, Geneva, sans-serif;
	overflow: hidden;
	min-width:750px;
	min-height:100%;
}

a {
	cursor: pointer;
}

/************************************************
** HEADER
************************************************/
#pearson {
	text-transform: uppercase;
	color: #FFF;
	background-color: #ed6b06;
	width: 100%;
}
#pearson h1 {
	position:absolute;
	display:inline-block;
	left:-1000px;
}
#pearson p {
	float:right;
	margin:9px;
	padding:0;
	font-size:12px;
}
#pearson img {
	margin:5px;
	padding:0;
	border:0;
}

/************************************************
** CONTENUTO
************************************************/
#contenuto {
	position:absolute;
	top:50px;
	right:0px;
	bottom:15px;
	left:0px;
	padding:10px;
	text-align:center;
	overflow-x: auto;
}
#contenuto h1 {
	color: #ed6b06;
}
#contenuto h2 {
	color:#ED6B06;
	font-weight:normal;
}
#contenuto p#explain {
	font-size:11px;
}
#contenuto #img-intro {
	margin-top:25px;
}
#finestraAggiornamento {
	display:none;
}
#interrompi {
	position:absolute;
	bottom:10px;
	left:10px;
}
#aggiorna {
	position:absolute;
	bottom:10px;
	right:10px;
}
#sceltaScuola {
	list-style:none;
	margin:0;
	padding:0;
}
#sceltaScuola li {
	display:inline-block;
	width:200px;
	height:230px;
	text-align:center;
	margin-left:5px;
	margin-right:5px;
}
#sceltaScuola a {
	display:inline-block;
	color:#000000;
	font-size:18px;
	font-weight:bolder;
	width:200px;
	height:30px;
	text-decoration:none;
	padding-top:208px;
}
#sceltaScuola a:hover {
	background-color:#ed6b06;
	color:#ffffff;
	border-left:3px solid #000000;
	border-right:3px solid #000000;
}
#scuolaPrimaria {
	background-image:url('../img/primary.jpg');
	background-repeat:no-repeat;
}
#scuolaSecondaria {
	background-image:url('../img/school.jpg');
	background-repeat:no-repeat;
}
#variaUniversita {
	background-image:url('../img/university.jpg');
	background-repeat:no-repeat;
}

#downloadInfo {
	position:absolute;
	top:-35px;
	right:10px;
	display:none;
	margin:0;
	padding:10px;
	padding-right:0;
	width:160px;
	background-color:#CCC;
	overflow:hidden;
	color:#000;
	font-size:10px;
	font-weight:normal;
	text-align:left;
	text-transform:none;
}

#downloader {
	float:left;
	margin:0;
	margin-right:10px;
}

#finestraInstallazione {
	display:none;
}

#interrompi_inst {
	position:absolute;
	bottom:10px;
	left:10px;
}

#installa {
	position:absolute;
	bottom:10px;
	right:10px;
}

/************************************************
** Breadcrumbs
************************************************/

#breadcrumbs {
	display:block;
	margin:0;
	padding:0;
	border:0;
	height:25px;
	background-color:#F1F1F1;
}

#breadcrumbs p {
	display:inline-block;
	margin:0;
	padding:0 5px 0 5px;
	padding-left:10px;
	padding-right:10px;
	border:0;
	color:#888;
	font-size:11px;
	font-weight:bold;
	background-color:#F1F1F1;
}

#breadcrumbs a {
	display:inline-block;
	padding:5px;
	color:#444;
	font-weight:bold;
	text-decoration:none;
	/*line-height:25px;*/
}

#breadcrumbs a:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#666;
}

#stampa {
	position:absolute;
	top:3px;
	right:3px;
	cursor:pointer;
	z-index: 1000;
}

/************************************************
** Ricerca
************************************************/

#ricerca {
	display:block;
	margin:0;
	padding:10px;
	border:0;
	overflow:hidden;
}
#ricerca fieldset {
	display:block;
	margin:0;
	padding:10px;
	border:1px solid #666;
	background-color:#F1F1F1;
}
#ricerca fieldset select {
	float:left;
	margin-left:20px;
}
#ricerca fieldset input {
	float:left;
	margin-left:20px;
}
#ricerca fieldset input.first {
	margin-left:0;
}
#ricerca fieldset select.first {
	margin-left:0;
}
#ricerca fieldset #marchio_id {
	width:100px;
}
#ricerca fieldset #materiaStr {
	width:150px;
	min-width:100px;
}
#ricerca fieldset #searchStr {
	position:absolute;
	right:80px;
	left:425px;
	/*width:200px;
	min-width:150px;*/
}
#ricerca fieldset #searchBtt {
	float:right;
}

#strato {
	position:absolute;
	top:78px;
	left:10px;
	right:10px;
	display:none;
	height:55px;
	background-image:url('../img/bkStrato.png');
	z-index:2;
	border: 1px solid;
	border-color:red;
	cursor: pointer;
}

#back {
	position:absolute;
	top:68px;
	left:10px;
	right:10px;
	display:none;
	width:70px;
	height:67px;
	background-image:url('../img/bkBack.gif');
	z-index:3;
	border:0;
}

#back-icon {
	position:absolute;
	top:10px;
	left:0px;
	right:10px;
	display:none;
	z-index:4;
	border:0;
}

#close-icon {
	float:right;
	margin:6px;
	margin-left:0;
}
#strato p {
	float:right;
	margin:6px;
	color:#C00;
	line-height:16px;
	font-size:11px;
	cursor: pointer;
}

/************************************************
** Risultato Ricerca
************************************************/

#rowNumber {
	display:block;
	margin:0;
	margin-bottom:15px;
	padding:0;
	border:0;
	text-align:left;
}

div.risultatoRiga {
	display:block;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #fff;
	background-image:url('../img/bgRisultati.jpg');
	background-position:right;
	background-repeat:repeat-y;
	margin-bottom:15px;
	text-align:left;
	border-top: 1px solid;
	border-top-color: #AAA;
	cursor: pointer;
}
div.risultatoRiga p {
	display:block;
	margin:0;
	padding:0;
	border:0;
	font-size:12px;
}
div.risultatoRiga p.risultato-isbn{
	margin-top:5px;
}
div.risultatoRiga p.risultato-autore {
	margin-top:3px;
}
div.risultatoRiga p.risultato-titolo {
	margin:0px;
	font-size:18px;
	font-weight:bold;
}
div.risultatoRiga div.risultato-sottotitolo {
	margin:0;
	font-size:15px;
	font-style:italic;
}
div.risultatoRiga p.risultato-percorso {
	margin-top:5px;
}
div.risultatoRiga img.risultato-marchio {
	float:right;
	margin-top:10px;
	margin-right:6px;
}

div.risultatoRiga img {
	float:left;
	margin:0;
	margin-right:10px;
}


/************************************************
** SCHEDA
************************************************/

div.risultatoRigaScheda {
	position:relative;
	display:block;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: #fff;
	background-image:url('../img/bgRisultati.jpg');
	background-position:right;
	background-repeat:repeat-y;
	margin-bottom:15px;
	text-align:left;
}
div.risultatoRigaScheda div.risultatoRigaSx {
	float:left;
	width:1%;
	min-width:80px;
	margin:0;
	padding:0;
	overflow:hidden;
}
div.risultatoRigaScheda div.risultatoRigaDx {
	float:left;
	width:67%;
	margin:0;
	margin-left:20px;
	padding:0;
	overflow:hidden;
}
div.risultatoRigaScheda p {
	display:block;
	margin:0;
	padding:0;
	border:0;
	font-size:12px;
}
div.risultatoRigaScheda p.risultato-isbn {
	margin-top:5px;
	font-weight:bold;
}
div.risultatoRigaScheda p.risultato-autore {
	margin-top:3px;
}
div.risultatoRigaScheda p.risultato-titolo {
	margin:0px;
	font-size:18px;
	font-weight:bold;
	color:#ED6B06;
}
div.risultatoRigaScheda div.risultato-sottotitolo {
	margin:0;
	font-size:15px;
	font-style:italic;
}
div.risultatoRigaScheda p.risultato-percorso {
	margin-top:5px;
}

div.risultatoRigaScheda img {
	float:left;
	margin:0;
	margin-right:10px;
}

#sezione-peditoriale {
	display:none;
}

#sezione-struttura {
	display:none;
	padding-left:0;
	padding-right:0;
}

#pannelli {
	display:block;
	margin:0;
	padding:0;
	border:0;
	text-align:left;
}

p.header {
	display:block;
	margin:0;
	margin-bottom:20px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:0;
	background-color:#666;
	font-size:12px;
	color:#FFF;
}

p.header-row {
	display:block;
	margin:0;
	margin-bottom:10px;
	padding:0;
	padding-left:40px;
	padding-right:10px;
	border:0;
	background-color:#666;
	font-size:13px;
	color:#FFF;
	text-align:left;
	font-weight:bold;
	line-height:30px;
	background-image:url('../img/freccia.gif');
	background-position:top left;
	background-repeat:no-repeat;
	cursor: pointer;
}
p.header-row-expanded {
	display:block;
	margin:0;
	margin-bottom:10px;
	padding:0;
	padding-left:40px;
	padding-right:10px;
	border:0;
	background-color:#666;
	font-size:13px;
	color:#FFF;
	text-align:left;
	font-weight:bold;
	line-height:30px;
	background-image:url('../img/frecciaBottom.gif');
	background-position:top left;
	background-repeat:no-repeat;
	cursor: pointer;
}
#header-struttura {
	margin-bottom:0;
}
.sezione {
	display:block;
	margin:0;
	padding:10px;
	padding-top:0;
	padding-bottom:30px;
	border:0;
	text-align:left;
}

#box-struttura {
	display:block;
	margin:0;
	padding:0;
	border:0;
	text-align:left;
	overflow:hidden;
}

#box-struttura div.struttura {
	display:block;
	margin:0;
	padding:10px;
	padding-left:0;
	border:0;
	background-color:#F1F1F1;
	overflow:hidden;
}

.volume-descrizione {
	margin-top:18px;
}
.risultato-pagine-prezzo {
	font-size:12px;
	font-weight:bold;
	margin-top:7px;
}
.volume-struttura {
	float:left;
	width:23%;
	margin:0;
	margin-left:10px;
	margin-top:10px;
	padding:10px;
	border:1px solid #666;
	background-color:#FFF;
}

.box-struttura-volumi {
	padding-top:0;
	padding-bottom:20px;
	overflow:hidden;
}

p.struttura-titolo {
	margin:0;
	margin-bottom:10px;
	margin-left:10px;
	padding:0;
	padding-left:10px;
	padding-right:10px;
	border:0;
/*	background-color:#D6D6D6;*/
	background-color:#BBB;
	font-size:13px;
	color:#000;
	text-align:left;
	font-weight:bold;
	line-height:30px;
}

.struttura-sottotitolo {
	display:none;
}

.volume-struttura p {
	display:block;
	margin:0;
	padding:0;
	border:0;
}

.volume-struttura p.volume-struttura-titolo {
	margin-top:10px;
	font-weight:bold;
}

.volume-struttura p.volume-struttura-descrizione {
	margin-top:10px;
}

.volume-struttura p.volume-struttura-isbn {
	margin-top:10px;
}

.volume-struttura p.volume-struttura-pagine {
	margin-top:10px;
}

.volume-struttura p.volume-struttura-isbn span {
	font-weight:bold;
}

.volume-struttura p.volume-struttura-pagine span {
	font-weight:bold;
}

.volume-struttura p a {
	color:#085394;
	text-decoration:underline;
}

.volume-struttura p a:hover {
	text-decoration:none;
}

#scheda-btt {
	position:absolute;
	top:0;
	right:0;
	overflow:hidden;
	text-align:right;
}
#scheda-btt img.risultato-marchio {
	float:right;
	clear:both;
	margin-top:10px;
	margin-right:6px;
	margin-bottom:10px;
}
#scheda-btt img#digilibro-logo {
	float:right;
	/*clear:both;*/
	clear:right;
	margin-top:10px;
	margin-right:6px;
	margin-bottom:10px;
	cursor: pointer;
 }
#scheda-btt img#digilibro-logo:hover {
	border-right:2px solid;
	border-bottom:2px solid;
	border-color: #888;
}
#scheda-btt img#etext-logo {
	float:right;
	/*clear:both;*/
	margin-top:10px;
	margin-right:6px;
	margin-bottom:10px;
	cursor: pointer;
}
#scheda-btt img#etext-logo:hover {
	border-right:2px solid;
	border-bottom:2px solid;
	border-color: #888;
}
#scheda-btt #digilibroBtt {
	float:right;
	clear:both;
	margin-top:5px;
	margin-right:6px;
}

#scheda-btt #scuolabookBtt {
	float:right;
	clear:both;
	margin-right:6px;
}


/************************************************
** FOOTER
************************************************/
#pageContent {
	position:relative;
	display:block;
	margin:0;padding:0;border:0;
	min-height:100%;
}

#copyright {
	position:absolute;
	bottom:0px;
	text-transform: uppercase;
	font-size:11px;
	font-weight:bolder;
	text-align:center;
	color: #fff;
	background-color: #ed6b06;
	width: 100%;
	height:25px;
	line-height:25px;
}

#ultimoAggiornamento {
	color:#FFF;
}

/************************************************
** Aggiornamento
************************************************/
#loader-header {
	display: block;
	margin:0;
	padding:0;
	border:0;
	font-weight:bolder;
	font-size:25px;
	text-align:center;
}

#loader-exp {
	display: block;
	margin:0;
	margin-top:20px;
	padding:0;
	border:0;
	font-size:11px;
	text-align:center;
}

#loader-action {
	display: block;
	margin:0;
	margin-top:20px;
	padding:0;
	border:0;
	font-weight:bolder;
	font-size:11px;
	text-align:center;
}

#loader-img {
	margin-top:40px;
}


/************************************************
** Altro
************************************************/

span, p, #contenuto {
	-webkit-user-select:text;
}